<h1>Restaurant Details</h1>

<h2><%= @restaurant.name %></h2>

<hr>

<ul>
  <li> Address: <%= @restaurant.address %></li>
  <li> Phone: <%= @restaurant.phone_number %></li>
  <li> Category: <%= @restaurant.category %></li>
</ul>

<%= link_to "See all restaurants", restaurants_path, class: "btn btn-primary"%>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-warning"%>

<hr>

<h3> Reviews </h3>

<% @restaurant.reviews.each do |review| %>
<p> <%= review.content %> </p>
<p> <strong> Rating: </strong> <%= review.rating %> </p>
<% end %>
